<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained","inherit":true}} -->
<main class="wp-block-group alignfull">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
		<!-- wp:heading {"level":1} -->Page not found<!-- /wp:heading -->
		<!-- wp:paragraph -->Sorry, we can’t find what you’re looking for. Try searching below.<!-- /wp:paragraph -->
		<!-- wp:search {"label":"Search","showLabel":false} /-->
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
