<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained","inherit":true}} -->
<main class="wp-block-group alignfull">
	<!-- wp:archive-title /-->
	<!-- wp:query {"align":"full","layout":{"type":"constrained"}} -->
		<!-- wp:post-template -->
			<!-- wp:post-title {"isLink":true} /-->
			<!-- wp:post-excerpt /-->
		<!-- /wp:post-template -->
		<!-- wp:query-pagination /-->
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
