<!-- wp:template-part {"slug":"header","theme":"ibt"} /-->

<!-- wp:group {"tagName":"main","className":"ibt-rootp-apply","layout":{"type":"constrained"}} -->
<main class="wp-block-group ibt-rootp-apply"><!-- wp:template-part {"slug":"meta-schema","theme":"ibt"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide">

<!-- wp:heading {"level":1,"className":"ibt-search-results-title"} -->
<h1>Search results</h1>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"constrained"},"className":"ibt-search-form"} -->
<div class="wp-block-group ibt-search-form">
	<!-- wp:search {"label":"Search","buttonText":"Search"} /-->
</div>
<!-- /wp:group -->

<!-- wp:query {"queryId":15,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:columns {"className":"ibt-search-columns","style":{"spacing":{"padding":{"right":"0","left":"0"},"blockGap":{"left":"var:preset|spacing|m"}}}} -->
<div class="wp-block-columns ibt-search-columns" style="padding-right:0;padding-left:0"><!-- wp:column {"verticalAlignment":"center","width":"200px","className":"ibt-search-badge-column"} -->
<div class="wp-block-column is-vertically-aligned-center ibt-search-badge-column" style="flex-basis:200px"><!-- wp:ibt/post-type-label /--></div>
<!-- /wp:column -->

<!-- wp:column {"className":"ibt-search-result-column"} -->
<div class="wp-block-column ibt-search-result-column"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-excerpt /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"pre-footer","theme":"ibt"} /-->

<!-- wp:template-part {"slug":"footer","theme":"ibt"} /-->